@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1677320357823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_tingzhi:before {
  content: "\e64c";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-qidong:before {
  content: "\e746";
}

.icon-bianji:before {
  content: "\e624";
}

.icon-jinru:before {
  content: "\e6c7";
}

